@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  font-family: helvetica;
}

body {
  background: grey;
}
/*
.board {
  width: 458px;
  height: 458px;
  background: purple;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  display: flex;

}*/
/*th, td {
  text-align: center;
}*/
tr {
  text-align: left;
}
button {
  font-family: 'Josefin Sans', sans-serif;
}
.xTurn {
  text-align: center;
  display: none;
  font-size: 30px;
  color: #ffff;
  margin: 0 auto;
}
.oTurn {
  text-align: center;
  display: none;
  font-size: 30px;
  margin: 0 auto;
}
.container {
  text-align: center;
  /*border: 1px solid blue;*/
}
.howToModel {
  border-radius: 0px 0px 5px 5px;
  padding: 8px;
  height: 334px;
  width: 320px;
  margin: 1px auto 10px auto;
  background: #A2F9FF;
  position: relative;
  z-index: 2;
  display: none;
  overflow: scroll;
  font-size: 13px;
}
/*.winsTable {
  height: 50px;
  min-width: 300px;
  max-width: 905px;
  border: 1px solid teal;
  margin: 5px 10px 5px 10px;
}*/
.buttonBox {
  padding: 7px 0 0 0;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  margin: 0 auto;
  max-width: 336px;
  background: #F79F08;
  height: 30px;
}

.gameArea {
  border-radius: 0px 0px 5px 5px;
  height: 340px;
  width: 336px;
  display: flex;
  flex-direction: column;
  /*overflow: scroll;*/
  border: 1px solid purple;
  margin: 0px auto 20px auto;
  background: #33FDFF;
}


.main-board {
  height: 92px;
  width: 92px;
  box-sizing: border-box;
  margin: 10px;
  display: inline-block;
}
.square {
  background: #808080;
  border-radius: 5px;
  border: 3px solid #000000;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  /*color: #F27898;*/
}
.active {
  border: 1px solid #F79F08;
  background: white;
}
.sq-active {
  background: white;
}
.inActive {
  background: #808080;
}
.x, .o {

  text-align: center;
  font-size: 100px;
  line-height: 1;
  vertical-align: top;
}
.x {
  color: #ffff;
}
.t {
  font-size: 70px;
  vertical-align: top;
  color: #C1872A;
}
#id7, #id8, #id9 {
  margin-bottom: 10px;
}
#playAgainButton {
  display: none;
}
#close {
  background: #CC1A10;
}
