body {
  background: grey;
}
/*
.board {
  width: 458px;
  height: 458px;
  background: purple;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  display: flex;

}*/

.container {
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column;
  /*overflow: scroll;*/
  border: 1px solid purple;
  margin: 0 auto;
}


.main-board {
  /*border: 1px solid blue;*/
  height: 92px;
  width: 92px;
  box-sizing: border-box;
  /*margin: 50px auto 0 auto;*/
  margin: 10px;
  display: inline-block;
}
.square {
  background: white;
  border-radius: 5px;
  border: 3px solid black;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
}
.active {
  background: yellow;
}
.sq-active {
  background: white;
}
.inActive {
  background: grey;
}
.x, .o {
  height: 92px;
  width: 92px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  font-size: 100px;
  line-height: 1;
  vertical-align: top;
}
.t {
  font-size: 70px;
  vertical-align: top;
}
#id7, #id8, #id9 {
  margin-bottom: 10px;
}
